*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

p{
    font-size: 1rem;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("/images/pattern-background-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: var(--Pale-blue);
    min-height: 100vh;
  
}
.container{
    margin: 0 auto;
    padding: 0 15px;
}

.container .card{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 10px;
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        */
}

.container .card .image img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.container .card .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .card .text h1{
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--Dark-blue);
    font-weight: 900;
    font-size: 1.5rem;
}
.container .card .text p{
    width: 300px;
    color:var(--Desaturated-blue) ;
    margin-bottom: 40px;
    text-align: center;
}


.container .card .icon {
    display: flex;
    justify-content:center;
    align-items: center;
    /* margin-left: 40px; */
}

.container .card .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px;
    margin-bottom: 50px;
}
.container .card .info .planchange a{
    transition: 2.9S;
}
.container .card .info .planchange a:hover{

    text-decoration: none;
}

.container .card .info .planinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container .card .info .planinfo .info2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .card .info .planinfo .info2 p{
    font-size: 1.17em;
    color:var(--Desaturated-blue) ;
    margin-top: 5px;
}
.container .card .info .planinfo .info2 h2{
    font-size: 1.17rem;
}


.container .card .completeorder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container .card .completeorder button{
    color: white;
    background-color: var(--Bright-blue);
    width: 350px;
    border-radius:10px ;
    border: none;
    height: 50px;
    font-weight: 700;
    cursor: pointer;
}
.container .card .completeorder button:hover{
    background-color: #776bf1;
}

.container .card .completeorder a{
    text-decoration: none;
    color:var(--Desaturated-blue) ;
    margin-bottom: 50px;
    font-weight: 700;
}

.container .card .completeorder a:hover{
    color: var(--Dark-blue);
}



